{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- hero Section -->
<div class="header main_page hero">
  <div class="container-fluid">
    <div class="row  justify-content-around align-items-center">
      <div class="col-md-4 col-sm-6 text-right">
        <img src="{% static 'assets/hakawati.png' %}" class="img-fluid" alt="">
        <p class="pt-3 herocontent">حكواتي هو التطبيق الأمتع لتحسين تجربة القراءة مع الأطفال، اطلق العنان لخيالهم
          واجعلهم
          يقضون امتع
          الأوقات في
          التعلم
          والاستمتاع بالقصة والمحتوى
        </p>
        <a href="#sign-up" id="hero-btn" class="btn btn-primary btn-lg"> سجل معنا</a>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="{% static 'assets/hakawati-app.png' %}" style="width: 53%;position: relative;right: 20px;"
          class="img-fluid hakawati-app" alt="">
      </div>
    </div>
  </div>
</div>
<!-- Take a look Section -->
<div class="container-fluid padding mt-5">
  <div class="row text-center ">
    <div class="col-12">
      <div class="col-12">
        <h2 class="display-5" id="video-title"><img src="{% static 'assets/video-logo.png' %}" class="img-fluid"
            id="video-logo" style="width: auto; height: 80px;" alt="">
          القي نظرة على حكواتي </h2>
        <div class="video-container mt-5">
          <video controls>
            <source src="{% static 'assets/hakawati-video.mp4' %}" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- sign up Section -->
<div class="container pt-5" id="sign-up">
  <div class="row">
    <div class="col-12">
      <div class="box-container">
        <div class="box-img"><img src="{% static 'assets/Sondos.png' %}"></div>
        <div class="box-body">
          <div class="box-su">
            <div class="logo-header"></div>
            <div class="row box-su-form">
              <div class="fgf text-center col-md-12">
                <input type="text" class="form-control" placeholder="الإسم">

              </div>
              <div class="fgf text-center col-md-12">
                <div class="">
                  <input type="email" class="form-control" placeholder="الإيميل الإلكتروني">
                </div>
              </div>
              <div class="fgf text-center col-md-12">
                <button class="btn mb-2" id="sign-up-btn">إشترك الأن</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 text-center followus">
      <div class="sign-text">
        <p class="lead pt-2">
          لمنحك التجربة الأفضل يرجى تعبئة البيانات وسيصلك إشعار حينما يكون التطبيق جاهزاً
        </p>
        <p>
          <h1> تابعنا على </h1>
        </p>
        <div class="sign-social d-flex justify-content-center">
          <div onclick="location.href='https://www.instagram.com/hakawatiar/';" style="cursor: pointer;" class="insta">
          </div>

          <div onclick="location.href='https://twitter.com/hakawatiar/';" style="cursor: pointer;" class="twitter">
          </div>
        </div>
        <h3 class="sign-content">@HakawatiAR</h3>

      </div>
    </div>
  </div>
</div>
{% endblock %}