{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- hero Section -->
<div class="header main_page hero">
  <div class="container-fluid">
    <div class="row  justify-content-around align-items-center">
      <div class="col-md-4 col-sm-6 text-right">
        <img src="{% static 'assets/hakawati.png' %}" class="img-fluid" alt="">
        <p class="pt-3 herocontent">حكواتي هو التطبيق الأمتع لتحسين تجربة القراءة مع الأطفال، اطلق العنان لخيالهم
          واجعلهم
          يقضون امتع
          الأوقات في
          التعلم
          والاستمتاع بالقصة والمحتوى
        </p>
        <a href="" id="hero-btn" class="btn btn-primary btn-lg"> سجل معنا</a>
      </div>
      <div class="col-md-4 col-sm-6">
        <img src="{% static 'assets/hakawati-app.png' %}" style="width: 350px;height: 100%;" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</div>
<!-- Take a look Section -->
<div class="container-fluid padding mt-5">
  <div class="row text-center ">
    <div class="col-12">
      <div class="col-12">
        <h2 class="display-5" id="video-title"><img src="{% static 'assets/video-logo.png' %}" class="img-fluid"
            id="video-logo" style="width: auto; height: 80px;" alt="">
          القي نظرة على حكواتي </h2>
        <div class="video-container mt-5">
          <video controls>
            <source src="{% static 'assets/hakawati-video.mp4' %}" type="video/mp4">
          </video>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- sign up Section -->
<div class="container-fluid pt-5" id="sign-up">
  <div class="row">
    <div class="col-md-12 col-lg-6 mt-5">
      <div class="card">
        <div class="logo-header"></div>
        <form action="sendemail.php">
          <div class="form-group">
            <div class="label">الإسم</div>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <div class="label">البريد الالكتروني</div>
            <input type="email" class="form-control">
          </div>
          <div class="form-group">
            <div class="label">إختار الباقة</div>
            <select id="inputState" class="form-control">
              <option selected>إختار...</option>
              <option>الباقة الذهبية </option>
              <option>الباقة الفضية </option>
              <option>الباقة البرونزية </option>
            </select>
          </div>
          <div class="form-group text-center">
            <button class="btn mb-2" id="sign-up-btn">إشترك الأن</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 text-center  order-2">
      <div class="sign-text">
        <h3 class="display-3">سجل معنا الآن</h3>
        <hr>
        <p class="lead pt-2">
          لمنحك التجربة الأفضل يرجى تعبئة الاستبيان المقابل<br> وسيصلك إشعار حينما يكون التطبيق جاهزاً
        </p>
        <p> <strong> تابعنا على </strong>
        </p>
        <div class="sign-social d-flex justify-content-center">
          <div onclick="location.href='https://www.instagram.com/hakawatiar/';" style="cursor: pointer;" class="insta">
          </div>

          <div onclick="location.href='https://twitter.com/hakawatiar/';" style="cursor: pointer;" class="twitter">
          </div>
        </div>
        <h3 class="sign-content">@HakawatiAR</h3>

      </div>
    </div>

  </div>

</div>
{% endblock %}